apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: {{ app_namespace }}
  labels:
    app: {{ app_name }}

spec:
  type: NodePort
  selector:
    app: {{ app_name }}

  ports:
    - port: 80
      targetPort: {{ app_container_port }}