apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ network_policy.allow_name }}
  namespace: {{ app_namespace }}

spec:
  podSelector:
    matchLabels:
      app: {{ network_policy.app_label }}

  policyTypes:
    - Ingress

  ingress:
    - from:
        - podSelector: {}
      ports:
        - protocol: TCP
          port: {{ network_policy.port }}